.container-home-banner {
    height: 100vh;
    /* margin-top: -px; */
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.container-home-banner .list .item {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    inset: 0 0 0 0;
}

.container-home-banner .list .item img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    filter: var(--bg-img);
    z-index: 999;
    transition: 0.5s;
    animation: slide .5s linear;
}

.loaderstar34 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

@keyframes slide {
    50% {
        left: 50px;
    }

    70% {
        left: 20px;
    }

    100% {
        left: 0;
    }
}

.container-home-banner .list .item .content {
    position: absolute;
    top: 10%;
    width: 1140px;
    max-width: 70%;
    padding: 15px;
    left: 38%;
    transform: translateX(-50%);
    padding-right: 30%;
    /* backdrop-filter: blur(2px); */
    /* background: rgba(21, 21, 21, 0.404); */
    box-sizing: border-box;
    color: white;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 80%;
    text-shadow: 0 5px 10px #0004;
}


.container-home-banner .list .item .author {
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 1em;
}

.container-home-banner .list .item .nameuserstar23 {
    font-weight: bold;
    color: aqua;
    letter-spacing: 5px;
    font-size: 2em;
    margin-bottom: 17px;
    margin-top: 5px;
}

.container-home-banner .list .item .nameuserstar2345 {
    font-weight: bold;
    color: rgb(116, 220, 220);
    letter-spacing: 5px;
    font-size: 1.5em;
    margin-bottom: 5px;
}


.container-home-banner .list .item .title {
    font-size: 3.2em;
    font-weight: bold;
    line-height: 1.3em;
    color: #f1683a;
    margin-bottom: 0;
}

.container-home-banner .list .item .topic {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.3em;
    margin-top: 0;
}

.container-home-banner .list .item .topic {
    color: white;
}

.container-home-banner .list .item .des {
    color: white;
    line-height: 1.5em;
    margin-top: 4px;
}

.container-home-banner .list .item .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.container-home-banner .list .item .buttons button {

    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;


}

.container-home-banner .list .item .buttons button:hover {

    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.container-home-banner .list .item .buttons button:nth-child(2) {
    background-color: transparent;
    padding: 0;
    backdrop-filter: blur(30px);
}

.container-home-banner .list .item .buttons button:nth-child(2):hover {
    background: #f1683a;
    color: white;
}

/* thumbail */
.thumbnail {
    position: absolute;
    bottom: 8px;
    left: 48%;
    width: max-content;
    z-index: 1;
    display: flex;
    gap: 20px;
    width: 665px;
    overflow-y: scroll;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    color: white;
}

.thumbnail .item:hover {
    border: 2px solid var(--text-color);
    transition: .7s;

}

.opacity-layer {
    width: 100%;
    height: 127px;
    background: var(--opacity-layer);
    position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    filter: var(--bg-img2);
}

.thumbnail .item img:hover {
    scale: 1.1;
    border-radius: 20px;

}




.thumbnail .item .content {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title {
    font-weight: 500;
}

.thumbnail .item .content .description {
    font-weight: 300;
}

@media only screen and (max-width: 720px) {
    .container-home-banner .list .item .des {
        line-height: 1.1em;
        padding: 5px;
        max-height: 130px;
        width: 230px;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 600px) {
    .thumbnail {
        left: 2%;
        width: 590px;
    }
}

@media only screen and (max-width: 540px) {
    .thumbnail {
        left: 2%;
        width: 530px;
    }
}

@media only screen and (max-width: 440px) {
    .thumbnail {
        left: 2%;
        width: 390px;
    }
}

@media only screen and (max-width: 435px) {
    .thumbnail {
        left: 2%;
        width: 420px;
    }
}

@media only screen and (max-width: 1000px) {
    .container-home-banner .list .item {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .container-home-banner .list .item img {
        height: 100vh;
        width: 100vw;
    }
}



@media only screen and (max-width: 720px) {
    .container-home-banner .list .item .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        text-align: center;
        left: 63%;
        top: 8%;
        width: 100%;
        font-size: 15px;
        align-items: center;
    }
}

@media only screen and (max-width: 720px) {
    .container-home-banner .list .item .title {
        font-size: 10vw;
        width: 400px;
    }
}

@media only screen and (max-width: 720px) {
    .container-home-banner .list .item .title {
        font-size: 9vw;
        width: 500px;
    }
}

@media only screen and (max-width: 720px) {
    .container-home-banner .list .item .nameuserstar23 {
        margin-bottom: 5px;
        margin-top: 0;
    }
}

@media only screen and (max-width: 720px) {
    .container-home-banner .list .item .nameuserstar23 {
        margin-bottom: 0;
    }
}